{%load static%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900">
<link rel="stylesheet" href="{% static 'css/mobiCSS/et-line-font-style.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/material.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/tether.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/socicon.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/dropdownstyle.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/style.css' %}">
<link rel="stylesheet" href="{% static 'css/mobiCSS/mbr-additional.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">