{% load static %}
<script src="{% static 'js/mobiJS/jquery.min.js' %}"></script>
<script src="{% static 'js/mobiJS/tether.min.js' %}"></script>
<script src="{% static 'js/mobiJS/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mobiJS/SmoothScroll.js' %}"></script>
<script src="{% static 'js/mobiJS/jquery.viewportchecker' %}.js"></script>
<script src="{% static 'js/mobiJS/script.min.js' %}"></script>
<script src="{% static 'js/mobiJS/jquery.touchSwipe' %}.min.js"></script>
<script src="{% static 'js/mobiJS/jarallax.js' %}"></script>
<script src="{% static 'js/mobiJS/script.js' %}"></script>
