{%load static%}
{% load pinax_blog_tags %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/544x180-300x99-387x128-67.png' %}" width="80" height="35" alt="IIRC">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/en/">Home <span class="sr-only">(current)</span></a>
      </li>
            </li>
            {% blog_sections as sections %}
            {% for section in sections %}
            {% if scoper_lookup %}
            {% url "pinax_blog:blog_section" scoper_lookup section.slug as section_url %}
            {% else %}
            {% url "pinax_blog:blog_section" section.slug as section_url %}
            {% endif %}
            <li class="nav-item">
                <a style="text-transform: capitalize;" class="nav-link" href="{{ section_url }}">{{ section.name }}</a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">العربية</button>
        </form>
    </div>
</nav>
